body {
    margin: 0;
}

td {
    vertical-align: top;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.fullwidth {
    width: 100%
}

.nowrap {
    white-space: nowrap;
}

.blogEntry {

}

.entryTitle {
    border-bottom: solid 1px #cccccc;
    font-size: large;
    font-weight: bold;
}

.entryBody {

}

.ul {
    margin: 1.12em 0;
}

ol, ul, dir, menu, dd {
    margin-left: 40px
}

ol {
    list-style-type: decimal
}

li {
    display: list-item
}